body {
  overflow: hidden;
}
.brand-link {
  padding-left: 15px;
}
.cb_panel {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-bottom: 3px;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #035357;
}
.control-sidebar {
  display: block !important;
}
.cb_steps {
  padding: 0 5px 0 5px;  color: #3C4048;
}
.cb_panel > .scb_button {
  background-color: #047378;
  color: #fff;
  border: 0;
  margin-top: 3px;
}
.cb_panel > .scb_button:hover {
  background-color: #006368;
}
.cb_filters > div:not([class]) {
  padding: 0 !important;
}
.wrapper {
  overflow-y: auto;  height: 100vh;
}
.wrapper::-webkit-scrollbar{
  display: none;
}
