.skin-blue .main-header .navbar {background-color: #047378;}
                        .navbar-white {background-color: #047378;}
                        .navbar-gray-dark {background-color: #047378;}
                        .jumbotron {background: #ffffff8f;box-shadow: 0 0px 9px rgb(0 0 0 / 11%), 0 8px 12px rgb(0 0 0 / 8%) !important; border: 1px solid rgb(0 0 0 / 14%);}
                        .dark-mode .jumbotron {background-color: #373e44;box-shadow: 0 0px 9px rgb(0 0 0 / 18%), 0 8px 12px rgb(0 0 0 / 16%) !important;}
                        .navbar-nav .dark-theme-icon {color: #fff;}
                        .btn-light{color: #000000;} .btn-light:hover{color: #000000;}
                        .dropdown-item.active, .dropdown-item:active {background-color: #64aeff;}
                        .card.card-outline-tabs .card-header a:hover {border-top: 3px solid #047378;}
                        .dark-mode .card.card-outline-tabs .card-header a:hover {border-color: #00848a;background: #312d2d;color: #ffffff;}
                        ol, ul, dl {padding-inline-start: 40px;}
                        a {color: #1371d8;}
                        .brand-link {background-color: #00848a !important; padding-left: 15px;}
                        .cb_panel { position: sticky; top: 0; z-index: 999; padding-bottom: 3px; padding-top: 1px;  padding-right: 5px;  padding-left: 5px;  background-color: #047378;}
                        #controlbar {  background-color: #047378;  display: block !important;}
                        #controlbar .cb_steps {  padding: 0 5px 0 5px;  color: #3C4048;}
                        #controlbar .cb_panel > .scb_button { background-color: #035357; color: #fff; border: 0; margin-top: 3px;}
                        #controlbar .cb_panel > .scb_button:hover { background-color: #3C4048;}
                        .wrapper {  overflow-y: auto;  height: 100vh;}
                        .wrapper::-webkit-scrollbar{display: none;}
