/*
body {
  overflow-y: hidden;
}
*/
.wrapper {
  overflow-y: auto;
  height: 100vh;
}

.wrapper::-webkit-scrollbar{
  display: none;
}

/*
.rule-container > .rule-header {
  height: 0;
}

.rule-filter-container > select, .rule-operator-container > select {
  opacity: 0.6;
  pointer-events: none;
}

.group-conditions {
  pointer-events: none;
  opacity: 0.7;
}

.group-conditions > label.btn-primary:not(.active) {
  color: #EAEAEA;
}
*/
