body {
  overflow-y: hidden;
}

.wrapper {
  overflow-y: auto;
  height: 100vh;
}

.wrapper::-webkit-scrollbar{
  display: none;
}

/*
.cb_run_step {
  visibility: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-height: 0 !important;
  max-width: 0 !important;
}

.cb_step > .panel-heading {
  max-height: 0 !important;
  padding: 0 !important;
}

.cb_step > .panel-heading .scb_button {
  visibility: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-height: 0 !important;
  max-width: 0 !important;
}
*/

.cb_panel {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-bottom: 3px;
  padding-top: 1px;
  background-color: #343A40;
}

#controlbar {
  background-color: #343A40;
  display: block !important;
}

#controlbar .cb_steps {
  padding: 0 5px 0 5px;
}

#controlbar .cb_panel > .scb_button {
    background-color: #007bff;
    color: #fff;
    margin: 5px;
    border: 0;
    width: 289px;
}

#controlbar .cb_panel > .scb_button:hover {
    background-color: #0062cc;
}

.main-sidebar {
  box-shadow: none !important;
}

.main-header, .brand-link {
  background-color: #0b41cd !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8) !important
}

.nav-link:hover {
  color: rgba(255, 255, 255) !important
}

.brand-link {
  padding-left: 20px;
}

.disabled-link {
  pointer-events: none;
}

.disabled-link > i {
  opacity: 0.6;
  cursor: not-allowed;
}

.rule-container > .rule-header {
  height: 0;
}

.rule-filter-container > select, .rule-operator-container > select {
  opacity: 0.6;
  pointer-events: none;
}

.group-conditions {
  pointer-events: none;
  opacity: 0.7;
}

.group-conditions > label.btn-primary:not(.active) {
  color: #c5c5c5;
}

.wrapper aside.control-sidebar {
  z-index: 1039;
}

.cb_container .cb_inputs .modal {
  margin-top: 60px;
}

.panel-heading {
  padding-bottom: 0;
}

.panel-body {
  padding: 0 20px 0 20px;
}
